/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

header {
  padding: 20px;
  color: #333;
  background-color: #ccc;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  background: #ccc;
}

#left {
  background-color: #666;
  color: #fff;
  float: left;
  width: 33.33%;
}

#middle {
  background-color: #888;
  color: #fff;
  float: left;
  width: 33.33%;
}

#right {
  background-color: #666;
  color: #fff;
  float: left;
  width: 33.33%;
}

#full {
  background-color: #eee;
  clear: both; /*re-establish document flow*/
  overflow: auto;
  width: 100%;
}

#division {
  background-color: #6ea3da;
  padding: 20px;
  margin-top: 20px;
}

aside { /*content flowing around it like a newspaper*/
  float: left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin-left: 30px;
  background-color: #fff;
  border: 1px solid #eee;
}

footer {
  background-color: #ccc;
  padding: 20px;
  clear: both;
}
